@font-face {
    font-family: 'Gilroy Regular';
    src: url("../fonts/Gilroy-Regular.ttf");
}
.gilroy-regular{
    font-family: 'Gilroy Regular';
}
@font-face {
    font-family: 'Gilroy Medium';
    src: url("../fonts/Gilroy-Medium.ttf");
}
.gilroy-medium{
    font-family: 'Gilroy Medium';
}
@font-face {
    font-family: 'Gilroy Semibold';
    src: url("../fonts/Gilroy-Semibold.ttf");
}
.gilroy-semibold{
    font-family: 'Gilroy Semibold';
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url("../fonts/Gilroy-Bold.ttf");
}
.gilroy-bold{
    font-family: 'Gilroy Bold';
}


.text77{
    font-size: 77px;
}
.text46{
    font-size: 46px;
}
.text32{
    font-size: 32px;
}
.text24{
    font-size: 24px;
}
.text20{
    font-size: 20px;
}
.text17{
    font-size: 17px;
}
.text16{
    font-size: 16px;
}
.text13{
    font-size: 13px;
}