.no-border{
    border: none !important;
}
.sign-in::before{
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 16px, 16px;
    background-position-y: 5px;
    content: "";
    margin-right: 5px;
    width: 16px;
    height: 20px;
    float: left;
}
.test-btn::after{
    background-image: url("../img/arrow-rh.svg");
    background-repeat: no-repeat;
    background-size: 16px, 16px;
    background-position-y: 9px;
    margin-left: 12px;
    content: "";
    width: 24px;
    height: 24px;
    float: right;
}
.prim{
    background: #38BFF2;
}
.orange{
    color: #F15525;
}
.bg-orange{
    background: #F15525;

}

.background-sc{
    background: #EAF2F5 !important;
}

.course-card{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.course-card:hover{
    background-color: #38BFF2 !important;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}
.course-pill{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.course-pill:hover{
    cursor: pointer;
    transform: scale(1.1);
}